<body class="about">
  <nav>
    <a id="back" href="/">Home</a>
  <div class="about_me">
    <h1 class="heading">A little about me</h1>
      <p class="blurb">I'm a junior full stack developer originally from Melbourne. I believe in well maintained code and beautiful front-end web pages. </p>
      <p class="blurb2">I started my coding journey a little over a few years ago. I loved it so much that I decided to go to uni to learn more. </p>
      <p class="blurb3">Ever since, I've been self-taught and love learning everything I can about coding. Decided this year to make the full transition from Project Management to Web Development and haven't looked back since. </p>
  </div>
</body>
