<div id="wrapper">
  <!-- Start Hero Section Here -->
  <div id="fullscreen-hero" class="home-hero">
    <div class="hero-container">
      <nav>
        <a id="about" href="/about/">About Me</a>
      </nav>
      <div class="hero-content">
        <h1>Hello, my name is Ness. I am a Designer / Web Developer living in Adelaide, Australia.</h1>
          <div class="learn">Learn more about what I do <br>
          </div>
          <i id="scrollDown" class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
        </div>
    </div>
  </div>
  <!-- Start Expertise Section Here -->
  <section id="me">
    <div class="container">
      <div>
        <div>
          <h4 class="intro">My Expertise</h4>
          <i class="fa fa-diamond" aria-hidden="true"></i>
          <h3 class="statement">I'm passionate about all phases of the design process.</h3>
          <div>
            <ul class="expertise">
              <li>
                <div class="ux">
                  <h5>UX/UI</h5>
                  <p>I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.</p>
                </div>
              </li>
              <li>
                <div class="code">
                  <h5>Code</h5>
                  <p>I design in the browser with HTML(5), CSS(3) and a few server-side languages such as Ruby and Node.js. I love coding things from scratch, but I can work with front-end frameworks too.</p>
                </div>
              </li>
              <li>
                <div>
                  <h5>Ideas</h5>
                  <p class="ideas">I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Work Experience Section Here -->
  <div id="work">
    <div class="container">
      <h4 class="intro.slate">Work</h4>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
      <p class="more-examples">Want to see more examples? <a class="email" href="mailto:vanessa.e.dohnt@gmail.com">Email me.</a></p>
    </div>
  </div>
  <!-- Start Personal Projects Section Here -->
  <div id="personal-projects">
    <h4>Personal Projects</h4>
      <i class="fa fa-coffee" aria-hidden="true">
      </i><br>
      <ul class="projects">
        <li>
          <a class="project1" href="https://atlas-quest.github.io/projects/">
          </a>
        </li>
        <li>
          <a class="project2" href="https://infinite-shore-22424.herokuapp.com/">
          </a>
        </li>
        <li>
          <a class="project3" href="/">
            <img  src="/assets/portfolio.png">
          </a>
        </li>
      </ul>
  </div>
  <footer class="footer">
    <a href="https://github.com/Atlas-Quest"><i class="fa fa-github" aria-hidden="true"></a></i>
    <a href="https://www.linkedin.com/in/vanessadohnt/"><i class="fa fa-linkedin" aria-hidden="true"></a></i>
    <a href="https://twitter.com/atlas_quest"><i class="fa fa-twitter" aria-hidden="true"></a></i>
    <a href="https://www.instagram.com/codesprite.tech/"><i class="fa fa-instagram" aria-hidden="true"></a></i>
    <p id="copyright">Made With &hearts; By Me 2017</p>
  </footer>
</div>
<script>

// This function resets blur:

var reset = function() {
    $('#fullscreen-hero').css({
    "opacity": "1",
    "filter": "none",
    "-webkit-filter": "none",
    "-moz-filter": "none"
  });
};

// this function blurs home_background then scrolls down to expertise section:

var blur = $('#scrollDown').click(function(event){
    event.preventDefault();
    $('html, body').animate({ scrollTop: $('#me').offset().top }, 880);
    $('#fullscreen-hero').css({
      "opacity": "0.6",
      "filter": "blur(4px)",
      "-webkit-filter": "blur(4px)",
      "-moz-filter": "blur(4px)"
  });
  setTimeout(reset, 1000);
});

// Calling reset() here:


</script>
