<div id="wrapper">
  <!-- Start Hero Section Here -->
  <div id="fullscreen-hero" class="home-hero">
    <div class="hero-container">
      <div class="hero-content">
        <h1>Hello, my name is Ness. I am a Designer / Front-End Developer living in Adelaide, Australia.</h1>
          <div class="learn">Learn more about what I do <br>
          </div>
          <i id="scrollDown"class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
    </div>
  </div>
  <!-- Start Expertise Section Here -->
  <section id="me">
    <div class="container">
      <div class="row">
        <div class="eight.columns.offset-by-two">
          <p class="intro">My Expertise</p>
          <i class="fa fa-diamond" aria-hidden="true"></i>
          <p class="statement">I'm passionate about all phases of the design process.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Work Experience Section Here -->
  <div id="work">
    <div class="container">
      <div class="row">
        <div class="twelve.columns">
          <p class="intro.slate">Work</p>
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          <p class="statement">Want to see more examples? <a href="mailto:vanessa.dohnt@codesprite.com.au">Email me.</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Personal Projects Section Here -->
  <div id="personal-projects">
    <p>Personal Projects</p>
    <i class="fa fa-coffee" aria-hidden="true"></i> <br>
    <a href="https://atlas-quest.github.io/projects/">Peppa Pig Snorts and Crosses</a>
  </div>
  <section id="sub-footer">
    <p>Want to work together?</p>
  </section>
  <footer class="footer">
    <a href="https://github.com/Atlas-Quest"><i class="fa fa-github" aria-hidden="true"></a></i>
    <a href="https://www.linkedin.com/in/vanessadohnt/"><i class="fa fa-linkedin" aria-hidden="true"></a></i>
    <a href="https://twitter.com/atlas_quest"><i class="fa fa-twitter" aria-hidden="true"></a></i>
    <a href="https://www.instagram.com/codesprite.tech/"><i class="fa fa-instagram" aria-hidden="true"></a></i>
    <p id="copyright">Made With &hearts; By Me 2017</p>
  </footer>
</div>
<script>

  $('#scrollDown').click(function(event){
    event.preventDefault();
    // var scrollDown = $(document).height();
    $('html, body').animate({ scrollTop: $('#me').offset().top }, 400);
  });

</script>
