@import "font-awesome-sprockets";
@import "font-awesome";

#wrapper {
  display: block;
}

#fullscreen-hero {
  background-image: url("home_background.jpg");
  height: 100vh;
  position: relative;
  text-align: center;
  min-height: 350px;
  background-size: cover;
}

.project1 {
  height: 120px;
  border-radius: 25px;
}

.project2 {
  height: 120px;
  width: 118px;
  border-radius: 20px;
}

a {
  text-decoration: none; color: black;
}

.statement a {
  text-decoration: underline; color: white;
}

body {
  margin: 0;
  // overflow: hidden;
}

.hero-container {
  padding: 0 40px;
}

.hero-content {
  padding-top: 250px;
  // top: 300px;
  font-family: 'Maitree', serif;
  font-size: .85em;
  // position: fixed;
  text-align: center;
}

.learn {
  padding: 20px;
  margin-top: 170px;
  font-size: 1.5em;
  font-weight: bold;
}

#me {
  background-color: white;
  background-size: cover;
  text-align: center;
  padding-top: 33.333px;
  margin: 0 auto;
  font-family: 'Maitree', serif;
  font-size: 1.5em;
  height: 100vh;
}

#work {
  background-color: black;
  color: white;
  padding-top: 28px;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maitree', serif;
  font-size: 1.5em;
  height: 50vh;
}

#personal-projects {
  background-color: white;
  color: black;
  padding-top: 28px;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maitree', serif;
  font-size: 1.5em;
  height: 100vh;
}

#sub-footer {
  background-color: black;
  color: white;
  padding-top: 28px;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maitree', serif;
  font-size: 1.5em;
  height: 50vh;
}

footer {
  background-color: white;
  color: black;
  padding-top: 50px;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maitree', serif;
  font-size: 1.5em;
  height: 20vh;
}

.statement {
  font-size: .90em;
}

.footer i {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#copyright {
  font-size: .70em;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 10px;
}

li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

p {
  flex-wrap: wrap;
  font-size: .7em;
}

.fa-angle-down {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fa-angle-down:hover {
  -webkit-transform: scale(1.9);
  -ms-transform: scale(1.9);
  transform: scale(1.9);
}

.fa-github:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.fa-linkedin:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.fa-twitter:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.fa-instagram:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
